@media (min-width: 481px) and (max-width: 767px) {
    .nav-links{
        display: none;
    }

    .logo-brand{
        margin-left: 5px;
        width: auto;
    }

    .logo-brand h1{
        font-size: 1.1em;
        width: 150px;
    }

    .mobile-menu-toggle {
        width: 30px;
        padding-top: 5px;
        margin-left: 220px;
        display: block;
    }

    .menu-bar {
        height: 3px;
        width: 20px;
        margin: 3px 0;
        border-radius: 30px;
    }

    .mobile-menu-toggle.active .menu-bar:nth-child(1) {
        transform: rotate(45deg) translate(3px, 3px);
    }

    .mobile-menu-toggle.active .menu-bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu-toggle.active .menu-bar:nth-child(3) {
        transform: rotate(-45deg) translate(3px, -3px);
    }

    .overlay-menu-container {
        display: none;
    }

    .overlay-menu-container.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(72, 160, 159, 0.9);
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .overlay-menu-items {
        font-size: 1.2em;
    }

    .overlay-menu-items li {
        margin: 1em 0;
    }

    /* Index Page Hero Content */
    .hero-section{
        display: block;
        height: 700px;
    }

    .hero-content{
        margin-top: 100px;
        margin-left: 20px;
        padding: 0;
        width: auto;
    }

    .hero-content h1{
        font-size: 2em;
    }

    .animation img{
        width: 450px;
        margin-top: 50px;
        margin-left: 15px;
    }

    /* Index Page Profile Intro Section */

    .profile-intro{
        padding: 0;
    }

    .profile-content{
        margin: 0;
    }

    .stats-card-container{
        flex-wrap: wrap;
        gap: 50px;
    }

    /* Index Page Features Section */
    .features{
        margin: 50px 0;
    }

    .features-title{
        text-align: center;
        margin: 20px 0;
    }

    .features-title h1{
        margin-top: 30px;
        font-size: 1.5em;
    }

    .features-content-container{
        display: block;
     }

     .features-item{
        display: block;
        padding: 0;
     }
     .features-caption-title{
        font-size: 1.3em;
        width: 250px;
    }

    .features-content{
        width: auto;
        padding: 20px;
    }

    .features-image img{
        width: 350px;
        height: 450px;
    }
    /* Index Page Courses-Intro Section */
    .courses-intro-title h1{
        font-size: 1.2em;
    }

    .courses-intro-title p{
        width: 100%;
        margin: 30px;
        margin-left: 0;
        font-size: 0.8em;
    }

    .courses-card-container{
        padding-left: 0;
        display: block;
    }

    .courses-card{
        margin: 20px 5px;
        width: 330px;
    }

    .courses-link{
        margin-top: 50px;
    }

    .features-image img{
        width: 90%;
    }

    .courses-card-container{
        margin: 0 70px;
    }

    /* Subscription Page */
    .subscription{
        margin: 0;
        padding-top: 80px;
        display: block;
    }

    .subscription-intro-container{
        padding: 10px;
        margin-bottom: 20px;
    }

    .subscription-intro-caption{
        margin: 20px 0;
    }

    .subscription-intro-caption h1{
        font-size: 2em;
    }

    .subscription-intro-caption p{
        width: 100%;
    }

    .course-overview-container {
        margin-left: 40px;
    }

    .courses li{
        line-height: 40px;
    }

    .course-highlights h1{
        font-size: 1.5em;
    }

    .course-highlights p{
        padding: 0 0;
    }

    .subscription-overview{
        padding-left: 30px;
    }

    .subscription-content{
        width:100%;
        padding-right: 50px;
        line-height: 30px;
    }

    .course-journey{
        margin: 0;
    }

    .course-journey-caption{
        margin: 0;
    }

    .course-journey-caption p{
        margin: 0;
        padding: 10px;
    }

    .course-journey-bundle{
        display: block;
    }

    .course-journey-bundle-box{
        width: 350px;
        height: 550px;
        margin-left: 70px;
        margin-top: 80px;
    }

    /* Learning Path Page */
    .path{
        margin-top: 100px;
    }

    /* Forum Page */
    .forum-menu-bar{
        margin-left: 0px;
        font-size: 1em;
    }

    .dropdown-menu{
        width: 400px;
    }

    table{
        width: 50px;
    }

    .topic-column p{
        font-size: 0.8em;
    }

    .topic-column h3{
        font-size: 1em;
    }

    
    /* Contact Page */
    .contact-form{
        width: 100%;
        padding: 5px;
    }

    .contact-form form{
        height: 550px;
        margin: 0 30px;
    }

    .form-title p{
        font-size: 1em;
    }

    /* Login Page */
    .login-form{
        width: 100%;
    }

    .login-form form{
        width: 100%;
        margin: 15px auto;
    }
    
    /* footer */
    footer{
        display: block;
        text-align: center;
        padding: 30px 0;
        height: 200px;
    }

    footer p, .social-media a, .legal-links{
        margin: 20px 0;
    }
}

/* Large Desktops (1201px and above) */
@media (min-width: 1201px) {
    /* Header */
    .logo-brand{
        margin-left: 20px;
    }

    .logo-brand h1{
        width: 200px;
    }

    .nav-links{
        margin-left: 100px;
    }

    /* Index Page */

    .courses-card-container{
        padding-left: 0;
    }

    .courses-card{
        width: 330px;
    }

    /* Subscribe Page */
    .subscription{
        margin: 0;
        padding-top: 120px;
    }

    .subscription-intro-container{
        padding: 0;
        padding: 10px 50px;
    }

    .course-overview-container {
        margin-left: 150px;
    }

    .courses li{
        line-height: 40px;
    }

    .course-highlights p{
        padding: 0 200px;
    }

    /* Learning Path Page */
    .path-box{
        width: 350px;
        height: 500px;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .path-image{
        width: 348px;
        height: 250px;
    }
    
    .path-image img{
        width: 349px;
    }

    /* Forum Page */
    .forum-menu-bar{
        font-size: 1em;
        width: 100%;
        height: auto;
    }

    .menu-link li{
        padding: 10px;
    }

    /* Login Page */
    .login-form{
        width: 100%;
        height: 560px;
        margin: 100px auto;
        padding: 90px auto;
    }
  }